:root {
  --mainPink: #5efd20;
  --mainYellow: #5cb85c;
  --mainBlack: #000;
  --mainGrey: rgb(238, 238, 238);
  --mainWhite: #fff;
}

.store {
  background: var(--mainGrey);
}

.btn-black {
  color: var(--mainBlack) !important;
  border-color: var(--mainBlack) !important;
}

/* .btn-black:hover {
  color: var(--mainPink) !important;
  background: var(--mainBlack) !important;
} */

.search-box {
  /* background: var(--mainPink); */
  color: var(--mainBlack);
}

.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.img-container:hover .store-item-icon {
  transform: translate(0, 0);
}

.store-item-icon:hover {
  color: var(--mainWhite);
}

.store-img {
  transition: all 1s ease-in-out;
}

.img-container:hover .store-img {
  transform: scale(1.2);
}

.store-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75rem;
  background: var(--mainYellow);
  border-top-left-radius: 1rem;
  transition: all 1s ease-in-out;
  transform: translate(100%, 100%);
}

.store-item-value {
  color: var(--mainYellow);
}
